body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f6e5e5;
    color: yellow;   /* changed from white to yellow */
    padding: 1rem;
    text-align: center;
}


#maids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
