body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f6e5e5;
    color: yellow;   /* changed from white to yellow */
    padding: 1rem;
    text-align: center;
}

#logo {
    width: 50%;          /* spans full width of the page */
    height: auto;     
    align-items: center;    /* keeps aspect ratio */
    max-height: 500px;    /* caps height so it’s not too big */
    object-fit: cover;    /* crops nicely if proportions don’t fit */
    margin-bottom: 10px;
    display: block;       /* removes inline spacing */
}



#maids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
